body{
    height: 100vh;
    width: 100vw;
}

.lesPersonnages{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;      
}
.lesPersonnage{
    height: 30%;
    width: 30%;
    display: flex;
    border: 11px solid #2e2625;
}

.lesLieux{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column; 
}
.leLieu{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.lesEpisodes{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.lEpisode{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

img{
    height: 80%;
    width: 80%;
}
p{
    font-size: 80%;
}